<div class="container my-5">
    <h1 class="mb-3">Sources</h1>
    <table class="table" *ngIf="sources && sources.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let source of sources">
                <td>{{source.id}}</td>
                <td>{{source.name}}</td>
            </tr>
        </tbody>
        <p *ngIf="!sources || sources.length < 1">No Source Records Found</p>
    </table>
</div>