<div class="container my-5">
    <h1 class="mb-3">Income</h1>
    <table class="table" *ngIf="incomes && incomes.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Source</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let income of incomes">
                <td>{{income.id}}</td>
                <td>{{income.date}}</td>
                <td>{{income.source.name}}</td>
                <td>{{income.amount}}</td>
            </tr>
        </tbody>
        <p *ngIf="!incomes || incomes.length < 1">No Income Records Found</p>
    </table>
</div>